#Gradle
.gradle
build/

#Java
*.class

# Package Files #
*.war
*.ear

# Netbeans
*.nb-gradle-properties
nbproject/private/
build/
nbbuild/
dist/
nbdist/
nbactions.xml
nb-configuration.xml

#Eclipse
.metadata
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath

# External tool builders
 .externalToolBuilders/
# Locally stored "Eclipse launch configurations"
 *.launch
# CDT-specific
 .cproject
# PDT-specific
 .buildpath


# Covers JetBrains IDEs: IntelliJ, RubyMine, PhpStorm, AppCode
*.ipr
*.iws
*.iml
.idea/
out/
/.nb-gradle/profiles/private/
